<section>
    <div class="container">
      <form [formGroup]="changeForm" (ngSubmit)="onSubmit(changeForm)">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="text-center m-auto w-50 my-2">
                <img
                  src="../../../../assets/images/PMS 3.svg"
                  class="w-75"
                  alt=""
                />
              </div>
              <div class="auth-card">
                <div class="title mb-2">
                  <span>Welcome to PMS</span>
                  <h3 class="fs-3">Change Password</h3>
                </div>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Old Password</mat-label>
                    <input
                      formControlName="oldPassword"
                      placeholder="Enter Old-Password"
                      matInput
                      [type]="hide ? 'password' : 'text'"
                    />
                    <button
                      type="button"
                      mat-icon-button
                      matSuffix
                      (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide"
                    >
                      <mat-icon>{{
                        hide ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                    <mat-error *ngIf="changeForm.controls.oldPassword.hasError('required')">
                      Old Password required
                  </mat-error>
                  <mat-error
                      *ngIf="changeForm.controls.oldPassword.hasError('pattern')">
                      A password must contains at least eight characters, including at least one number and includes both lower and uppercase letters and special characters
                  </mat-error>
                  </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>New Password</mat-label>
                    <input
                      formControlName="newPassword"
                      placeholder="Enter New-Password"
                      matInput
                      [type]="hide ? 'password' : 'text'"
                    />
                    <button
                      type="button"
                      mat-icon-button
                      matSuffix
                      (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide"
                    >
                      <mat-icon>{{
                        hide ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                    <mat-error *ngIf="changeForm.controls.newPassword.hasError('required')">
                      New Password required
                  </mat-error>
                  <mat-error
                      *ngIf="changeForm.controls.newPassword.hasError('pattern')">
                      A password must contains at least eight characters, including at least one number and includes both lower and uppercase letters and special characters
                  </mat-error>
                  </mat-form-field>
                   <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Password</mat-label>
                    <input
                      formControlName="confirmNewPassword"
                      placeholder="Enter New-Password"
                      matInput
                      [type]="hide ? 'password' : 'text'"
                    />
                    <button
                      type="button"
                      mat-icon-button
                      matSuffix
                      (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide"
                    >
                      <mat-icon>{{
                        hide ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                  </mat-form-field>
            
    
               
                <div class="text-center">
                  <button class="primary text-center">Save</button>
                </div>
              </div>
            </div>
          </div>
        </form>
    </div>
     
  </section>
  
