section{
    background-image: url(../../../../assets/images/bg3.jpeg);
    background-size: 100% 100%;

    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    .mat-icon{
        color: white;
    }
}