<section class="auth-card ">
      <form [formGroup]="changeForm" (ngSubmit)="onSubmit(changeForm)"  >
         
             
                <div class="title mb-2">
                  <span>Welcome to PMS</span>
                  <h3 class="fs-3">Change Password</h3>
                </div>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Old Password</mat-label>
                    <input
                      formControlName="oldPassword"
                      placeholder="Enter Old-Password"
                      matInput
                      [type]="hide ? 'password' : 'text'"
                    />
                    <button
                      type="button"
                      mat-icon-button
                      matSuffix
                      (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide"
                    >
                      <mat-icon>{{
                        hide ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>

                    <mat-error *ngIf="changeForm.get('oldPassword')?.touched &&changeForm.get('oldPassword')?.hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error>
                  <mat-error *ngIf="changeForm.get('oldPassword')?.touched &&changeForm.get('oldPassword')?.hasError('pattern')">
                      Please enter a valid Password
                    </mat-error>

                  </mat-form-field>
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>New Password</mat-label>
                    <input
                      formControlName="newPassword"
                      placeholder="Enter New-Password"
                      matInput
                      [type]="hide1 ? 'password' : 'text'"
                    />
                    <button
                      type="button"
                      mat-icon-button
                      matSuffix
                      (click)="hide1 = !hide1"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide1"
                    >
                      <mat-icon>{{
                        hide1 ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                    <mat-error *ngIf="changeForm.get('newPassword')?.touched &&changeForm.get('newPassword')?.hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error>
                  <mat-error *ngIf="changeForm.get('newPassword')?.touched &&changeForm.get('newPassword')?.hasError('pattern')">
                      Please enter a valid Password
                    </mat-error>

                  </mat-form-field>
                   <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Password</mat-label>
                    <input
                      formControlName="confirmNewPassword"
                      placeholder="Enter New-Password"
                      matInput
                      [type]="hide2 ? 'password' : 'text'"
                    />
                    <button
                      type="button"
                      mat-icon-button
                      matSuffix
                      (click)="hide2 = !hide2"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide2"
                    >
                      <mat-icon>{{
                        hide2 ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                    <mat-error *ngIf="changeForm.get('confirmNewPassword')?.touched &&changeForm.get('confirmNewPassword')?.hasError('required')">
                      Password is <strong>required</strong>
                    </mat-error>
                  <mat-error *ngIf="changeForm.get('confirmNewPassword')?.touched &&changeForm.get('confirmNewPassword')?.hasError('invalid')">
                      Not Match
                    </mat-error>
                  </mat-form-field>
                <div class="text-center">
                  <button class="primary text-center w-75" [disabled]="changeForm.invalid">Save</button>
                </div>
          
      
       
        </form>
</section>
    
