
<section>
   
    <div class=" container py-3">
        <div class="page-header shadow-lg">
            <h1>My Projects</h1>
        </div>
       
        <table class="custom-table ">
            <thead class="text-capitalize">
                <th class=" alone">Title</th>
                <th class="alone">description</th>
                <th class="alone">No Of Tasks</th>
                <th class="alone">creation Date</th>
                <th class="alone">modification Date</th>

            </thead>
            <tbody>
                <tr *ngFor=" let item of tableData ;  let isEven = even"
                [class]="isEven ? '' : 'bg-secondary-subtle'">
                    <td  class="py-3">{{item.title}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.task.length}}</td>
                    <td>{{item.creationDate | date:'dd-MM-yyyy , hh:mm a'}}</td>
                    <td>{{item.modificationDate | date:'dd-MM-yyyy , hh:mm a'}}</td>
                
                </tr>
            </tbody>
        </table>
        <div class="">
            <mat-paginator [length]="tableResponse?.totalNumberOfRecords" 
            [pageSizeOptions]="[5,10, 50, 100]" [pageSize]="tableResponse?.pageSize"
             (page)="handlePageEvent($event)" [pageIndex]="pageIndex"
             aria-label="Select page">
            </mat-paginator>
            
        </div>
    </div>
</section>
