#home{
    background-image: url('../../../assets/images/home-bg.png');
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 45vh;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 0px 1rem !important;
    margin-top: 1rem;

}
.chart-card{
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
}