<section>
  <div class="container">
    <form [formGroup]="requestForm" (ngSubmit)="onSubmit(requestForm)">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="text-center m-auto w-50 my-2">
              <img
                src="../../../../assets/images/PMS 3.svg"
                class="w-75"
                alt=""
              />
            </div>
            <div class="auth-card">
              <div class="title mb-2">
                <span>Welcome to PMS</span>
                <h3 class="fs-3">Forget Password</h3>
              </div>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label >E-mail</mat-label>
                <input
                  formControlName="email"
                  matInput
                  placeholder="Enter Your E-mail"
                />
              </mat-form-field>
              <mat-error *ngIf="requestForm.get('email')?.touched &&requestForm.get('email')?.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            <mat-error *ngIf="requestForm.get('email')?.touched &&requestForm.get('email')?.hasError('pattern')">
                Ex.  <strong> pat@example.com</strong>
              </mat-error>
             
              <div class="text-center">
                <button class="primary text-center" [disabled]="requestForm.invalid">Verify</button>
              </div>
            </div>
          </div>
        </div>
      </form>
  </div>
   
</section>
