<section class="verify">
    <div class="container">
    <form [formGroup]="verifyForm" (ngSubmit)="onSubmit(verifyForm)" >
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="text-center m-auto w-50 my-2">
              <img
                src="../../../../assets/images/PMS 3.svg"
                class="w-75"
                alt=""
              />
            </div>
            <div class="auth-card">
              <div class="title mb-2">
                <span>Welcome to PMS</span>
                <h3 class="fs-3">Verify Account</h3>
              </div>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label >E-mail</mat-label>
                <input
                formControlName="email"
                  matInput
                  placeholder="Enter Your E-mail"
                />
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label >OTP Verification</mat-label>
                <input
                  formControlName="code"
                  matInput
                  placeholder="Enter Verification"
                />
              </mat-form-field>
              
        
              <div class="text-center">
                <button [disabled]="verifyForm.invalid" class="primary text-center w-100">Save</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
  </section>
  
