<section>
  <div class="page-header shadow-lg">
    <h1>Tasks</h1>
    <button routerLink="add-edit-task" class="primary px-3 mx-2">
      <span class="fa-solid fa-plus mx-2"></span>
      <span class="px-2">Add New Task</span>
    </button>
  </div>
  <div class="table-card container py-5">
    <div class="row  mb-3">
      <div class="col-md-4">
        <mat-form-field class="w-100 ">
          <mat-label>Searc by title</mat-label>
          <input matInput placeholder="Search Here" #searchInput (keyup)="search(searchInput.value)">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field  class="w-100">
          <mat-label>Filter </mat-label>
          <mat-select [(value)]="status" (selectionChange)="openTasks()">
              <mat-option value="ToDo">ToDo</mat-option>
              <mat-option value="InProgress">InProgress</mat-option>
              <mat-option value="Done">Done</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <table class="custom-table">
      <thead class="text-capitalize">
        <th class="px-2 alone">Title</th>
        <th class="alone">Status</th>
        <th class="alone">User</th>
        <th class="alone">Project</th>
        <th class="alone">creation Date</th>
        <th class="alone"></th>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of tableData; let isEven = even"
          [class]="isEven ? '' : 'bg-secondary-subtle'"
        >
          <td class="px-3">{{ item.title }}</td>
          <td>
            <span
              class="status px-3"
              [ngClass]="{
                ToDo: item.status == 'ToDo',
                InProgress: item.status == 'InProgress',
                Done: item.status == 'Done'
              }"
              >{{ item.status }}</span
            >
          </td>
          <td class="px-3">{{ item.employee.userName }}</td>
          <td class="px-3">{{ item.project.title }}</td>
          <td class="px-3">
            {{ item.creationDate | date : "dd-MM-yyyy , hh:mm a" }}
          </td>
          <td class="text-center px-3">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button [routerLink]="['edit', item.id,{params:viewFlag}]" mat-menu-item>
                <mat-icon>visibility</mat-icon>
                <span>View</span>
              </button>
              <button [routerLink]="['edit', item.id]" mat-menu-item>
                <mat-icon>edit_square</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="openAddDialog(item)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <mat-paginator [length]="tableResponse?.totalNumberOfRecords" 
      [pageSizeOptions]="[5,10, 50, 100]" [pageSize]="tableResponse?.pageSize"
       (page)="handlePageEvent($event)" [pageIndex]="pageIndex" 
       aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</section>
