// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$PMS-primary: mat.define-palette(mat.$orange-palette);
$PMS-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$PMS-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$PMS-theme: mat.define-light-theme((color: (primary: $PMS-primary,
        accent: $PMS-accent,
        warn: $PMS-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($PMS-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overflow-x: hidden
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  overflow-x:hidden;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

.mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
  color: #ef9b28;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: white !important;
}


.auth-card {
  background-color: #315951e5;
  padding: 2rem 1rem;
  border-radius: 16px;

  .title {
    padding: 10px 0px;

    span {
      color: white;
      font-size: 16px;
    }

    h3 {
      color: #ef9b28;
      position: relative;

      &::after {
        content: "";
        width: 20px;
        height: 5px;
        background-color: #ef9b28;
        position: absolute;
        left: 0px;
        bottom: -5px;
        z-index: 33;
      }
    }
  }
}

button {
  font-size: 18px;
  border: none;
  padding: 0.5rem 1rem;

  &.primary {
    border-radius: 96px;
    color: white;
    // width: 484px;
    // height: 56px;
    background-color: #ef9b28;
    margin-top: 5px;

    &:hover {
      opacity: 0.9;
    }
  } &.outline-secondary{
    border-radius: 96px;
    color: #0e382f;
    border: 1px solid #000;
    background-color: #fff;
    margin-top: 5px;

    &:hover {
      opacity: 0.9;
      background-color: #0e382f;
      color: #fff;
    }
  }

  &:disabled {
    background-color: #ef9c28ca;
  }
}


a {
  text-decoration: none;

 
}
.text-orange {
  color: #ef9b28;
}
.bg-gray{
  background-color: #f5f5f5;
}
.page-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;

  a{
    text-decoration: none;
    color: #0e382f;
  }
  h1{
    color: #4f4f4f;
  }
}
.form-card{
  width: 80%;
  margin: 2rem auto;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}
.my-card{
  background-color: white;
  padding: 1rem ;
  border-radius: 16px;
}
.pointer{
  cursor: pointer;
}